$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 20px;

$white: #ffffff;

$violet: #635fc7;
$violet-light: #a8a4ff;
$grey: rgb(128, 128, 128);
$red: rgb(255, 0, 0);
$modal-container: rgba(0, 0, 0, 0.5);

$light-background-1: #ffffff;
$light-background-2: #f4f7fd;

$dark-background-1: #2b2c37;
$dark-background-2: #20212c;