@import '../../style/abstracts/variables';

.SelectStatus {
  width: 100%;
  padding: 10px;
  background-image: url(../../image/icon-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
}