@import '../../style/abstracts/variables';

.DeleteModal-title {
  margin-bottom: 25px;
  color: $red;
}

.DeleteModal-text {
  margin-bottom: 25px;
  color: $grey;
}

.DeleteModal-btns {
  display: flex;
  gap: 20px;
}