@import '../../style/abstracts/variables';

.BoardBtn {
  width: 100%;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 30px;
  
  color: $grey;
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  font-size: $font-size-2;
  transition: 0.3s;
  cursor: pointer;
}

.BoardBtn:hover {
  color: $violet;
  background-color: $light-background-2;
}

.BoardBtn-active {
  color: $white;
  background-color: $violet;
}