@import '../../style/abstracts/variables';

.Sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  border-right: solid 1px $grey;
  height: 100%;
}

.Sidebar-wrapper {
  margin: 20px;
}

.Sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.Sidebar-logo-img {
  margin-right: 10px;
}

.Sidebar-logo-text {
  font-size: 32px;
}

.Sidebar-hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Sidebar {
    display: none;
  }
}