@import '../../style/abstracts/variables';

.Sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: solid 1px $grey;
}

.Sidebar-wrapper {
  margin: 20px 0;
  height: 100%;
}

.Sidebar-logo-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

.Sidebar-logo-img {
  margin-right: 10px;
}

.Sidebar-logo-text {
  font-size: 32px;
}

.Sidebar-hidden {
  display: none;
}