@import '../../style/abstracts/variables';

.OptionMenu {
  position: absolute;
  right: 0;
  top: 40px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px black;
  width: 120px;
}

.OptionMenu-edit {
  color: $grey;
  font-size: $font-size-1;
  margin-bottom: 20px;
  cursor: pointer;
}

.OptionMenu-delete {
  color: $red;
  font-size: $font-size-1;
  cursor: pointer;
}